gdown==3.6.4
pydicom==2.2.2
segmentation_models_pytorch==0.2.0
albumentations==1.1.0
monai==0.7.0
torch==1.7.1
pandas==1.1.5
numpy==1.19.4
matplotlib==3.3.3
seaborn==0.11.1
opencv-python==4.5.1
scikit-learn==0.24.0